# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.lock.hcl

# Environment
local_environment.tf
settings.yml
.env

# Certificates
*.pfx
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
